<h2>Add Book</h2>

<form method="post" action="/Home/AddBook">
    <table>
        <tr>
            <td><p>Book Id: </p></td>
            <td><input type="text" name="BookId" /> </td>
        </tr>
        <tr>
            <td><p>Name: </p></td>
            <td><input type="text" name="Name" /> </td>
        </tr>
        <tr>
            <td><p>Author Name: </p></td>
            <td><input type="text" name="AuthorName" /> </td>
        </tr>
        <tr>
            <td><p>Author Surname: </p></td>
            <td><input type="text" name="AuthorSurname" /> </td>
        </tr>
        <tr>
            <td><p>Year Of Publish: </p></td>
            <td><input type="text" name="YearOfPublish" /> </td>
        </tr>

        <tr>
            <td><p>Genre ID: </p></td>
            <td><input type="text" name="GenreId" /> </td>
        </tr>
    </table>
    <td><input type="submit" value="Save" /> </td>
</form>