@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Kravchuka Street<br />
    apt. 4<br />
    LVIV 79007<br />
    UA<br />
    <abbr title="Phone">P:</abbr>
    +3 8 096 870 17 28
</address>
